.block-section {

    .parent {
        display: block;

        li {
            margin-bottom: 2rem;
            -moz-box-shadow: 0px 0px 31px -13px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 0px 0px 31px -13px rgba(0, 0, 0, 0.75);
            align-items: center;
            border-bottom: 4px solid #96588a;
            box-shadow: 0px 0px 31px -13px rgba(0, 0, 0, 0.75);
            display: flex;
            flex: 1 0 calc(100% - 20px);
            flex-direction: column;
            margin: 10px;
            max-width: calc(100% - 20px);
            padding: 30px 0;
            text-align: center;

            img {
                margin-bottom: 1rem;
            }
        }
    }

    @media (min-width: 768px) { 
        .parent {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            list-style: none;
    
            li {
                -moz-box-shadow: 0px 0px 31px -13px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: 0px 0px 31px -13px rgba(0, 0, 0, 0.75);
                align-items: center;
                border-bottom: 4px solid #96588a;
                box-shadow: 0px 0px 31px -13px rgba(0, 0, 0, 0.75);
                display: flex;
                flex: 1 0 calc(33.333% - 20px);
                flex-direction: column;
                margin: 10px;
                max-width: calc(33.333% - 20px);
                padding: 30px 0;
                text-align: center;

                img {
                    margin-bottom: 2rem;
                }
            }
        }
    }
}