.block-section .parent {
  display: block;
}

.block-section .parent li {
  margin-bottom: 2rem;
  -moz-box-shadow: 0px 0px 31px -13px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 31px -13px rgba(0, 0, 0, 0.75);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 4px solid #96588a;
  box-shadow: 0px 0px 31px -13px rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(100% - 20px);
          flex: 1 0 calc(100% - 20px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  max-width: calc(100% - 20px);
  padding: 30px 0;
  text-align: center;
}

.block-section .parent li img {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .block-section .parent {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    list-style: none;
  }
  .block-section .parent li {
    -moz-box-shadow: 0px 0px 31px -13px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 31px -13px rgba(0, 0, 0, 0.75);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 4px solid #96588a;
    box-shadow: 0px 0px 31px -13px rgba(0, 0, 0, 0.75);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 calc(33.333% - 20px);
            flex: 1 0 calc(33.333% - 20px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px;
    max-width: calc(33.333% - 20px);
    padding: 30px 0;
    text-align: center;
  }
  .block-section .parent li img {
    margin-bottom: 2rem;
  }
}
/*# sourceMappingURL=block-section.css.map */