.featured-section {
  display: block;
  padding: 6rem 0;
}

@media (min-width: 768px) {
  .featured-section {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .featured-section .title {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  .featured-section .content {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}
/*# sourceMappingURL=featured-section.css.map */