.featured-section{
    display: block;
    padding: 6rem 0;

    @media (min-width: 768px) { 
        align-items: center;
        display: flex;
        .title {
            flex: 50%;
        }
        .content {
            flex: 50%;
        }
    }
}