.heading-section {
    display: block;
    position: relative;
    padding: 4rem 0;

    .image {
        margin-bottom: 2rem;
    }
    a {
        background-color: #96588a;
        padding: 1rem;
        color: #fff;
    }
    
    @media (min-width: 768px) {
        align-items: center;
        display: flex;
        flex-direction: row;

        &::before{
            background-color: #eaeaea;
            content: '';
            height: 100%;
            left: 0;
            margin-left: -50%;
            position: absolute;
            
            right: 0;
            width: 100%;
            z-index: -1;
        }
    
        .content {
            flex: 30%;
        }
        .image
        { 
            flex: 70%;
        }
    }
}