.heading-section {
  display: block;
  position: relative;
  padding: 4rem 0;
}

.heading-section .image {
  margin-bottom: 2rem;
}

.heading-section a {
  background-color: #96588a;
  padding: 1rem;
  color: #fff;
}

@media (min-width: 768px) {
  .heading-section {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .heading-section::before {
    background-color: #eaeaea;
    content: '';
    height: 100%;
    left: 0;
    margin-left: -50%;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: -1;
  }
  .heading-section .content {
    -webkit-box-flex: 30%;
        -ms-flex: 30%;
            flex: 30%;
  }
  .heading-section .image {
    -webkit-box-flex: 70%;
        -ms-flex: 70%;
            flex: 70%;
  }
}
/*# sourceMappingURL=heading-section.css.map */